html{
	font-size: 16px;
}

body{
	background: rgba(98, 95, 241, 0.635);
	margin: 0;
	font-family: sans-serif;
	color: white;
}


.container{
	background: rgba(21, 20, 85, 0.7);
	padding: 2.3rem 0.5rem;
	border-radius: 0.3rem;
	width: 100%;
	margin: 3.2rem auto 0 auto;
}

input[type=submit]{
	width: 46%;
	padding: 0.8rem;
	background: rgb(7, 173, 7);
	color: white;
	border-radius: 0.2rem;
	cursor: pointer;
	border:none ;
}

@media (min-width: 376px){
	.container{
		max-width: 320px;
	}
}

@media (min-width: 576px){
	.container{
		max-width: 540px;
	}
}

@media (min-width: 768px){
	.container{
		max-width: 720px;
	}
}
#radio-btn,
#check-box {
	margin-right: 0.5rem;
 	min-height: 1.2rem;
 	min-width: 1.2rem;
}
.input-size{
	display:block;
	width: 45%;
	height: 1.5rem;
	padding: 0.3rem 0.4rem;
	border-radius: 0.2rem;
	outline: 0;
	border-style: none;
	margin-top: 0.4rem;
}

label{
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
}
.col-75 textarea{
	width: 45%;
	min-height: 6rem;
	resize: vertical;
	padding: 0.5rem 0 0 0.5rem;
}
input.marquee-scroll{
	overflow-y: visible;
}
input.marquee {
  padding: 0;
  resize: none;
  min-height: 1.5rem;
}


#table{
	border: 2px solid white;
	border-radius: 5px;
	background-color: saddlebrown;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:2rem auto;
	width: 100%;
}


span{
	color: red;
	width: 100%;
}
.class{
	grid-area: class;
}
.percentage{
	grid-area: percent;
}
.year{
	grid-area: year;
}
.grid{
	display: grid;
	grid-template-areas:
	'class percent year';
}